fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-community
langchain-groq
langchain-ollama
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres

qdrant-client

psycopg[binary,pool]

tavily-python

pypdf
python-docx

pydantic
pydantic-settings
python-dotenv

httpx
